/* Reset CSS */

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

p {
	color: #828282;
}


/* top-bannar css */

#top-bannar {
	height: 500px;
	padding-bottom: 140px;
}

.flexible-container {
	display: flex;
}

.half-width {
	width: 50%;
	padding-left: 10%;
}

.bannar-container-left {
	padding-top: 50px;
}

.bannar-container-left p {
	text-align: left;
}

.top-bannar-heading {
	font-weight: 800;
	font-size: 60px;
	line-height: 75px;
	width: 600px;
	text-shadow: 1px 1px 4px gray;
}

.highlighter {
	color: #fb964b;
}

#top-bannar img {
	width: 100%;
	margin-left: -100px;
	padding-top: 30px;
}

.myButton {
	background-image: linear-gradient(to right, #fb964b 30%, #fe4a2e 75%);
	border-radius: 25px;
	cursor: pointer;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 13px 32px;
	margin-top: 30px;
	text-decoration: none;
	position: absolute;
	text-transform: uppercase;
}


/* about-me css */

#about-me {
	background-image: url("images/about-bg.png");
	background-repeat: no-repeat;
	padding-bottom: 80px;
}

#about-me img {
	width: 50%;
	padding-left: 50px;
}

#about-me p {
	text-align: left;
}

.section-heading {
	font-weight: 800;
	font-size: 40px;
	line-height: 75px;
	width: 600px;
	text-shadow: 1px 1px 4px gray;
	float: left;
}

.about-container-right {
	padding-top: 120px;
	margin-left: -140px;
	width: 35%;
}

.about-container-right a {
	margin-top: 90px;
}


/* my-recipies */

#my-recipies {
	width: 100%;
	padding-bottom: 100px;
}

.recipies {
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	width: 25%;
	padding: 25px;
	margin-left: 30px;
}

.card img {
	width: 100%;
}

.card h3 {
	font-weight: bold;
	font-size: 25px;
}

.card p {
	text-align: left;
}

.card-container {
	margin-left: 80px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* footer */

footer {
	background-color: black;
	height: 200px;
}

footer h2 {
	color: gray;
}

footer p {
	color: white;
}

footer h2,
p {
	text-align: center;
}

.footer-content {
	padding-top: 50px;
}